<h1>Your BP Data</h1>

<strong>BPUnit:</strong> {{data.BPUnit}} <br>
<strong>CurrentRecordCount:</strong> {{data.CurrentRecordCount}} <br>
<strong>NextPageUrl:</strong> {{data.NextPageUrl}}<br>
<strong>PageLength:</strong> {{data.PageLength}}<br>
<strong>PageNumber:</strong> {{data.PageNumber}}<br>
<strong>PrevPageUrl:</strong> {{data.PrevPageUrl}}<br>
<strong>RecordCount:</strong> {{data.RecordCount}}<br>

<table style="margin-top: 50px">
    <tr>
        <th>BPL</th>
        <th>HP</th>
        <th>HR</th>
        <th>IsArr</th>
        <th>LP</th>
        <th>LastChangeTime</th>
        <th>Lat</th>
        <th>Lon</th>
        <th>MDate</th>
        <th>Note</th>
        <th>DataID</th>
    </tr>

    <tr ng-repeat="item in data.BPDataList">
        <td>{{item.BPL}}</td>
        <td>{{item.HP}}</td>
        <td>{{item.HR}}</td>
        <td>{{item.IsArr}}</td>
        <td>{{item.LP}}</td>
        <td>{{item.LastChangeTime}}</td>
        <td>{{item.Lat}}</td>
        <td>{{item.Lon}}</td>
        <td>{{item.MDate}}</td>
        <td>{{item.Note}}</td>
        <td>{{item.DataID}}</td>
    </tr>
</table>